*{box-sizing: border-box;}
.title{
    text-align: center;
    color: fuchsia;
}
.container{
    margin: 2%;
    background-color: cornsilk;
    padding: 5%;
    display: inline;
    flex-wrap: wrap;
}
.card{
    width: 25%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gold;
    overflow: hidden;
    position: relative;
    margin: 5%;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
.img_title{
    text-align: center;
    padding: 0.5em 1em;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    color: black;
    font-size: 2em;
    background-color: rgba(253, 249, 4, 0.39);
}
.card:hover{
    box-shadow: 0px 0px 3px 2px gray;
}
.card:hover .img_title{
    color: yellow;
    background-color: gray;
}